In [1]:
%cd ..

/home/jhkim/workspace/lrquant

/home/jhkim/workspace/lrquant/.venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
import gc
import os
import typing

import numpy as np
import pandas as pd
import torch

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.style as mplstyle

mplstyle.use("fast")

from IPython.display import display


if "CUDA_VISIBLE_DEVICES" in os.environ:
    print(os.environ["CUDA_VISIBLE_DEVICES"])

torch.set_printoptions(precision=4, sci_mode=False)

0,1

In [ ]:
from models.LMClass import LMClass

# model_path = "./huggingface/llama-2-7b-hf"
# # model_path = "./output/base1-lr.25"
lm = LMClass("./huggingface/llama-2-7b-hf")


from datautils import get_loaders

dataloader, _ = get_loaders(
    name="wikitext2",
    nsamples=128,
    seed=2,
    model=lm.model_name,
    seqlen=lm.seqlen,
    cache_dir=f"./cache/wikitext2_128_2/dataloader.cache",
)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

vocab size:  32000
Loading train from ./cache/wikitext2_128_2/dataloader.cache

In [ ]:
layer_inps = torch.zeros((32, 2048, 4096), dtype=torch.float32)

for i, layer in enumerate(lm.model.model.layers):

    def layer_hook(layer_index):
        def _fn(module, input: tuple[torch.Tensor], output):
            layer_inps[layer_index] = input[0][0].detach().clone()

        return _fn

    layer._forward_hooks.clear()
    layer.register_forward_hook(layer_hook(i))

batch_index = 32
with torch.no_grad():
    lm.model.eval()
    lm.model.to(lm.device)
    lm.model(dataloader[batch_index][0].to(lm.device))
    lm.model.cpu()
    gc.collect()
    torch.cuda.empty_cache()

In [ ]:
magnitudes = layer_inps.square().mean(dim=2)  # [32, 2048]
print(magnitudes.shape)
topk = magnitudes.topk(5, dim=1)
display(pd.DataFrame([list(zip(topk.values[i], topk.indices[i])) for i in range(32)]))

torch.Size([32, 2048])

,0,1,2,3,4
0,"(tensor(0.0004), tensor(279))","(tensor(0.0004), tensor(133))","(tensor(0.0004), tensor(255))","(tensor(0.0004), tensor(336))","(tensor(0.0004), tensor(1875))"
1,"(tensor(0.0051), tensor(0))","(tensor(0.0037), tensor(30))","(tensor(0.0021), tensor(14))","(tensor(0.0020), tensor(9))","(tensor(0.0019), tensor(25))"
2,"(tensor(2238.6536), tensor(30))","(tensor(197.0514), tensor(0))","(tensor(0.0030), tensor(231))","(tensor(0.0030), tensor(1505))","(tensor(0.0030), tensor(269))"
3,"(tensor(2245.6538), tensor(30))","(tensor(199.3558), tensor(0))","(tensor(0.0058), tensor(1182))","(tensor(0.0057), tensor(2038))","(tensor(0.0057), tensor(436))"
4,"(tensor(2245.4431), tensor(30))","(tensor(199.3570), tensor(0))","(tensor(0.0123), tensor(521))","(tensor(0.0116), tensor(6))","(tensor(0.0113), tensor(41))"
5,"(tensor(2261.6775), tensor(30))","(tensor(203.1048), tensor(0))","(tensor(0.0201), tensor(1476))","(tensor(0.0188), tensor(1720))","(tensor(0.0182), tensor(142))"
6,"(tensor(2261.5203), tensor(30))","(tensor(203.1003), tensor(0))","(tensor(0.0345), tensor(154))","(tensor(0.0294), tensor(1914))","(tensor(0.0292), tensor(1500))"
7,"(tensor(2261.4641), tensor(30))","(tensor(203.0983), tensor(0))","(tensor(0.0466), tensor(673))","(tensor(0.0461), tensor(154))","(tensor(0.0410), tensor(844))"
8,"(tensor(2261.4285), tensor(30))","(tensor(203.0863), tensor(0))","(tensor(0.0721), tensor(673))","(tensor(0.0693), tensor(124))","(tensor(0.0614), tensor(1125))"
9,"(tensor(2261.2019), tensor(30))","(tensor(203.0826), tensor(0))","(tensor(0.1726), tensor(124))","(tensor(0.1448), tensor(1125))","(tensor(0.1365), tensor(1661))"
10,"(tensor(2261.1296), tensor(30))","(tensor(203.0538), tensor(0))","(tensor(0.2189), tensor(124))","(tensor(0.1612), tensor(1661))","(tensor(0.1556), tensor(1125))"
11,"(tensor(2261.0198), tensor(30))","(tensor(203.0387), tensor(0))","(tensor(0.2284), tensor(124))","(tensor(0.1621), tensor(1661))","(tensor(0.1567), tensor(1125))"
12,"(tensor(2260.9607), tensor(30))","(tensor(202.9903), tensor(0))","(tensor(0.2280), tensor(124))","(tensor(0.1615), tensor(1661))","(tensor(0.1557), tensor(1125))"
13,"(tensor(2260.9348), tensor(30))","(tensor(203.1287), tensor(0))","(tensor(0.2315), tensor(124))","(tensor(0.1662), tensor(1661))","(tensor(0.1592), tensor(1125))"
14,"(tensor(2260.8462), tensor(30))","(tensor(203.2675), tensor(0))","(tensor(0.2553), tensor(124))","(tensor(0.1770), tensor(1108))","(tensor(0.1735), tensor(270))"
15,"(tensor(2260.8369), tensor(30))","(tensor(203.2308), tensor(0))","(tensor(0.2590), tensor(124))","(tensor(0.2140), tensor(1817))","(tensor(0.2019), tensor(1535))"
16,"(tensor(2260.6963), tensor(30))","(tensor(203.1791), tensor(0))","(tensor(0.2882), tensor(1392))","(tensor(0.2861), tensor(838))","(tensor(0.2846), tensor(845))"
17,"(tensor(2264.8726), tensor(30))","(tensor(204.4663), tensor(0))","(tensor(0.4036), tensor(1392))","(tensor(0.3959), tensor(711))","(tensor(0.3870), tensor(1027))"
18,"(tensor(2264.9414), tensor(30))","(tensor(204.4209), tensor(0))","(tensor(0.5002), tensor(1392))","(tensor(0.4948), tensor(711))","(tensor(0.4944), tensor(1535))"
19,"(tensor(2264.8147), tensor(30))","(tensor(204.3347), tensor(0))","(tensor(0.6246), tensor(1535))","(tensor(0.6137), tensor(1186))","(tensor(0.6108), tensor(711))"
20,"(tensor(2263.2446), tensor(30))","(tensor(204.1293), tensor(0))","(tensor(0.7865), tensor(1))","(tensor(0.7718), tensor(4))","(tensor(0.7683), tensor(1216))"
21,"(tensor(2263.1086), tensor(30))","(tensor(204.1108), tensor(0))","(tensor(1.2130), tensor(200))","(tensor(1.1407), tensor(1364))","(tensor(1.1180), tensor(1202))"
22,"(tensor(2262.8628), tensor(30))","(tensor(204.2742), tensor(0))","(tensor(1.5041), tensor(1364))","(tensor(1.4835), tensor(200))","(tensor(1.4416), tensor(774))"
23,"(tensor(2262.9307), tensor(30))","(tensor(204.4691), tensor(0))","(tensor(2.0762), tensor(1215))","(tensor(1.8910), tensor(347))","(tensor(1.8300), tensor(346))"
24,"(tensor(2262.7512), tensor(30))","(tensor(204.6518), tensor(0))","(tensor(2.3756), tensor(1215))","(tensor(2.2957), tensor(347))","(tensor(2.2321), tensor(774))"
25,"(tensor(2262.3911), tensor(30))","(tensor(204.6452), tensor(0))","(tensor(3.1065), tensor(347))","(tensor(2.9550), tensor(346))","(tensor(2.9187), tensor(1215))"
26,"(tensor(2262.2119), tensor(30))","(tensor(204.3909), tensor(0))","(tensor(3.5299), tensor(347))","(tensor(3.3492), tensor(346))","(tensor(3.1948), tensor(1215))"
27,"(tensor(2261.9668), tensor(30))","(tensor(204.3980), tensor(0))","(tensor(4.1358), tensor(347))","(tensor(3.9150), tensor(346))","(tensor(3.7405), tensor(1215))"
28,"(tensor(2261.7278), tensor(30))","(tensor(204.0873), tensor(0))","(tensor(4.5874), tensor(347))","(tensor(4.2884), tensor(346))","(tensor(4.1566), tensor(1215))"
29,"(tensor(2261.4646), tensor(30))","(tensor(203.6741), tensor(0))","(tensor(5.3713), tensor(347))","(tensor(4.9832), tensor(346))","(tensor(4.8612), tensor(806))"
30,"(tensor(2191.8242), tensor(30))","(tensor(200.8983), tensor(0))","(tensor(6.2433), tensor(347))","(tensor(5.7137), tensor(346))","(tensor(5.5905), tensor(1214))"
31,"(tensor(18.2295), tensor(0))","(tensor(9.1111), tensor(30))","(tensor(7.2559), tensor(347))","(tensor(6.7569), tensor(1858))","(tensor(6.5635), tensor(346))"

In [ ]:
display(pd.DataFrame(layer_inps[2, 0].abs()).sort_values(0, ascending=False).T)
display(pd.DataFrame(layer_inps[2, 30].abs()).sort_values(0, ascending=False).T)

,2533,1415,1512,1076,2298,339,3431,2789,2158,3135,...,3678,2993,1123,1673,936,1322,1423,3139,3834,2525
0,769.0,458.5,39.40625,31.265625,18.078125,17.140625,16.078125,15.796875,13.671875,12.640625,...,0.001556,0.001404,0.001236,0.000885,0.000671,0.000595,0.000587,0.000572,0.000458,0.000252

,2533,1415,1512,2298,3431,2168,3135,339,2393,2789,...,287,2803,1002,141,3308,3234,153,612,2000,585
0,2598.0,1532.0,162.625,90.375,59.28125,58.53125,55.15625,53.59375,49.125,39.84375,...,0.003647,0.003258,0.003212,0.003052,0.002472,0.002136,0.000984,0.000671,0.000336,0.000305

In [48]:
display(pd.DataFrame(layer_inps[:, 30, (2533, 1415, 1512)].abs(), columns=["2533", "1415", "1512"]))

           2533         1415        1512
0      0.002792     0.000652    0.004303
1      0.132446     0.265137    1.275391
2   2598.000000  1532.000000  162.625000
3   2602.000000  1535.000000  162.875000
4   2602.000000  1535.000000  161.125000
5   2612.000000  1540.000000  160.875000
6   2612.000000  1540.000000  159.500000
7   2612.000000  1540.000000  159.000000
8   2612.000000  1540.000000  158.750000
9   2612.000000  1540.000000  156.500000
10  2612.000000  1540.000000  155.875000
11  2612.000000  1540.000000  155.000000
12  2612.000000  1540.000000  154.875000
13  2612.000000  1540.000000  155.000000
14  2612.000000  1540.000000  155.000000
15  2612.000000  1540.000000  155.375000
16  2612.000000  1540.000000  154.625000
17  2616.000000  1540.000000  157.875000
18  2616.000000  1540.000000  159.375000
19  2616.000000  1540.000000  158.875000
20  2616.000000  1539.000000  160.625000
21  2616.000000  1539.000000  159.750000
22  2616.000000  1539.000000  157.875000
23  2616.000000  1539.000000  159.375000
24  2616.000000  1539.000000  157.750000
25  2616.000000  1539.000000  153.750000
26  2616.000000  1539.000000  151.750000
27  2616.000000  1539.000000  148.625000
28  2616.000000  1539.000000  145.250000
29  2616.000000  1539.000000  139.625000
30  2572.000000  1516.000000  127.562500
31    98.000000    43.000000   15.625000

In [8]:
layer_inps_mean = layer_inps.mean(dim=2, keepdim=True)
layer_inps_std = layer_inps.std(dim=2, keepdim=True)
layer_inps_standardized = (layer_inps - layer_inps_mean) / layer_inps_std

In [9]:
df = pd.DataFrame()
df["std_magnitude"] = layer_inps_standardized[2].square().mean(dim=0)
df["magnitude"] = layer_inps[2].square().mean(dim=0)

display(df.sort_values("std_magnitude", ascending=False).T)
display(df.sort_values("magnitude", ascending=False).T)

,1512,2298,1076,2393,3431,3135,257,490,2789,4071,...,473,391,3389,1411,3178,1320,1389,752,3541,1131
std_magnitude,357.096375,236.074036,103.510880,100.425003,86.699539,73.465218,55.564796,47.705299,45.884495,42.762886,...,0.365263,0.364523,0.362759,0.360973,0.356820,0.355335,0.354259,0.342271,0.342075,0.337695
magnitude,14.303576,4.516786,0.975377,1.428895,1.992132,1.686710,0.246256,0.399051,0.975242,0.660897,...,0.000905,0.000767,0.001044,0.001171,0.005337,0.000971,0.001491,0.001473,0.001243,0.000780

,2533,1415,1512,2298,3431,2168,3135,339,2393,1076,...,1131,1133,3050,3520,391,1223,1485,3530,1144,2906
std_magnitude,4.840537,1.639955,357.096375,236.074036,86.699539,2.816064,73.465218,38.540421,100.425003,103.510880,...,0.337695,0.406294,0.399747,0.395986,0.364523,0.396270,0.395221,0.370193,0.390414,0.372287
magnitude,3584.458740,1248.656250,14.303576,4.516786,1.992132,1.707169,1.686710,1.617715,1.428895,0.975377,...,0.000780,0.000778,0.000777,0.000768,0.000767,0.000763,0.000761,0.000752,0.000746,0.000739

In [53]:
display(pd.DataFrame(layer_inps[2, :, 1512].abs()).sort_values(0, ascending=False).T)
display(pd.DataFrame(layer_inps[2, :, 2298].abs()).sort_values(0, ascending=False).T)
display(pd.DataFrame(layer_inps[2, :, 2533].abs()).sort_values(0, ascending=False).T)
display(pd.DataFrame(layer_inps[2, :, 1415].abs()).sort_values(0, ascending=False).T)

,30,0,664,1645,172,2044,1291,519,1447,1999,...,658,1487,1792,199,1915,1522,155,1720,1572,1011
0,162.625,39.40625,1.852539,1.806641,1.804688,1.796875,1.78125,1.75,1.743164,1.740234,...,0.110107,0.09375,0.085693,0.084106,0.054688,0.04834,0.047729,0.04126,0.009766,0.009521

,30,0,1306,926,507,122,682,1667,454,1097,...,1937,264,1353,155,49,1189,1298,1486,1769,1412
0,90.375,18.078125,1.49707,1.496094,1.486328,1.485352,1.478516,1.46875,1.46582,1.463867,...,0.011597,0.011475,0.009644,0.009277,0.008301,0.007935,0.007568,0.002197,0.001465,0.000427

,30,0,1965,1426,391,843,1438,1964,390,32,...,2041,1121,131,1850,72,2046,177,1474,1451,56
0,2598.0,769.0,0.177734,0.168701,0.166138,0.164185,0.153564,0.148438,0.138916,0.137939,...,0.000763,0.000717,0.000519,0.000401,0.00032,0.000275,0.000222,0.000153,0.000092,0.0

,30,0,383,382,384,1418,385,1419,1420,1958,...,1194,440,1218,780,1461,1642,642,1443,1396,689
0,1532.0,458.5,0.117126,0.116272,0.112427,0.105835,0.105713,0.104858,0.101562,0.101562,...,0.000153,0.000122,0.000122,0.000114,0.000092,0.000092,0.000092,0.000061,0.000061,0.000031

In [11]:
def get_max_df(single_layer_inps: torch.Tensor):
    max_df = pd.DataFrame(single_layer_inps.abs().max(dim=0)).transpose()
    max_df.columns = ["max", "channel_idx"]
    max_df["max"] = max_df["max"].apply(lambda x: x.item())
    max_df["channel_idx"] = max_df["channel_idx"].apply(lambda x: x.item())
    max_df["std"] = single_layer_inps.std(dim=0)
    # for i, row in enumerate(max_df.iterrows()):
    #     channel_idx = row[1]["channel_idx"]
    #     max_df.at[row[0], "value"] = single_layer_inps[i][channel_idx].item()
    #     max_df.at[row[0], "std"] = single_layer_inps[i].std().item()

    max_df = max_df.sort_values("max", ascending=False)
    # max_df = max_df.drop_duplicates(subset=["channel_idx"])
    return max_df

def get_mean_df(single_layer_inps: torch.Tensor):
    mag_df = pd.DataFrame(single_layer_inps.abs().mean(dim=0))
    mag_df.columns = ["mean_abs"]
    mag_df["mean_abs"] = mag_df["mean_abs"].apply(lambda x: x.item())
    mag_df["std"] = single_layer_inps.std(dim=0)
    # for i, row in enumerate(mag_df.iterrows()):
    #     mag_df.at[row[0], "std"] = single_layer_inps[i].std().item()
    mag_df = mag_df.sort_values("mean_abs", ascending=False)
    return mag_df

for i in range(33):
    max_df = get_max_df(layer_inps[i])
    print(f"Layer {i} max df", max_df, sep='\n')
    
    mag_df = get_mean_df(layer_inps[i])
    print(f"Layer {i} magnitude df", mag_df, sep='\n')

Layer 0 max df
           max  channel_idx       std
2459  0.128906            0  0.038803
1571  0.125000            9  0.039774
2403  0.121582           27  0.035343
1307  0.118652          108  0.035887
2622  0.112793           27  0.030817
...        ...          ...       ...
2393  0.037109           98  0.013993
2316  0.036865          797  0.012872
2235  0.035889          874  0.008518
1218  0.034668          322  0.011758
1415  0.023682          182  0.007440

[4096 rows x 3 columns]

AttributeError: 'float' object has no attribute 'item'

In [ ]:
def find_outlier_channels(activation, threshold=20):
    mean = activation.mean(dim=(0, 1))
    std = activation.std(dim=(0, 1))
    z_scores = (activation - mean) / std
    outliers = torch.where(z_scores > threshold)
    unique_channels = torch.unique(outliers[2])
    return unique_channels.tolist()
print(find_outlier_channels(layer_inps))

[575, 580, 1076, 2350, 2533, 2944, 2958, 3135, 3431, 3994]

In [ ]:
# standardize the activations
layer_inps_std = (layer_inps - layer_inps.mean(dim=(0, 1), keepdim=True)) / layer_inps.std(dim=(0, 1), keepdim=True)

for i in range(33):
    max_df = get_max_df(layer_inps_std[i])
    print(f"Layer {i} max df", max_df, sep='\n')
    
    # mag_df = get_magnitude_df(layer_inps_std[i])
    # print(f"Layer {i} magnitude df", mag_df, sep='\n')

Layer 0 max df
           max  channel_idx       std
623   1.016602         1076  0.166992
978   1.015625         1076  0.166626
225   1.015625         1076  0.166626
679   1.015625         1076  0.167358
1525  1.014648         1076  0.166992
...        ...          ...       ...
340   1.000977         1076  0.166626
915   1.000977         1076  0.166382
886   1.000977         1076  0.166504
1422  1.000977         1076  0.166992
422   1.000000         1076  0.167358

[2048 rows x 3 columns]
Layer 1 max df
           max  channel_idx       std
1211  1.061523         1076  0.168823
1930  1.053711         1076  0.168457
1932  1.050781         1076  0.168213
1921  1.048828         1076  0.168213
1726  1.048828         1076  0.167603
...        ...          ...       ...
125   0.959473         1076  0.166870
126   0.958496         1076  0.166748
1172  0.958008         1076  0.166382
1167  0.957031         1076  0.166016
127   0.956543         1076  0.166748

[2048 rows x 3 columns]
Layer 2 max df
            max  channel_idx       std
113   46.218750         2533  2.714844
0     12.750000         1415  0.683105
381    1.022461          490  0.168457
1719   1.005859         1076  0.168945
1921   1.004883         1076  0.170776
...         ...          ...       ...
44     0.792969         1076  0.166382
45     0.791016         1076  0.165771
5      0.777832         1076  0.165405
69     0.774902         1076  0.164795
1      0.751953         1076  0.167358

[2048 rows x 3 columns]
Layer 3 max df
            max  channel_idx       std
113   46.281250         2533  2.666016
0     12.828125         1415  0.671875
381    1.119141          490  0.172974
1438   1.109375         2403  0.171875
1635   1.097656         2403  0.173096
...         ...          ...       ...
1326   0.746582         2789  0.169434
1413   0.745605         1076  0.169067
1846   0.742188         1076  0.169678
1166   0.741699         2789  0.167358
1      0.738770         1307  0.171875

[2048 rows x 3 columns]
Layer 4 max df
            max  channel_idx       std
113   46.281250         2533  2.662109
0     12.828125         1415  0.675293
381    1.240234          490  0.180908
608    1.219727          490  0.179077
262    1.185547          490  0.182373
...         ...          ...       ...
1983   0.708496         1076  0.178833
839    0.708008         1076  0.185303
326    0.706055         2789  0.172852
849    0.704590         1076  0.176392
1981   0.695312         1076  0.177612

[2048 rows x 3 columns]
Layer 5 max df
            max  channel_idx       std
113   46.468750         2533  2.669922
0     12.937500         1415  0.699707
5      1.535156         1571  0.190308
384    1.514648          310  0.178345
354    1.451172         1571  0.182739
...         ...          ...       ...
1975   0.661133         2789  0.194702
980    0.660645         1076  0.181763
1075   0.658203         1307  0.183716
320    0.641602         1076  0.176880
1778   0.641113         1076  0.177002

[2048 rows x 3 columns]
Layer 6 max df
            max  channel_idx       std
113   46.468750         2533  2.664062
0     12.937500         1415  0.706055
384    3.148438          310  0.192261
62     2.898438          310  0.188965
1392   2.035156          310  0.193726
...         ...          ...       ...
1153   0.664551         2158  0.189331
1778   0.661133         3824  0.189941
1044   0.659668         3525  0.197632
1184   0.639648         1881  0.207642
320    0.631836         2789  0.193848

[2048 rows x 3 columns]
Layer 7 max df
            max  channel_idx       std
113   46.468750         2533  2.662109
0     12.937500         1415  0.712402
384    5.273438          310  0.205811
1392   4.769531          310  0.215698
62     4.375000          310  0.193726
...         ...          ...       ...
1146   0.673828         2147  0.211548
935    0.671387         1758  0.193848
1246   0.666504         2411  0.212769
1462   0.664062         3697  0.211060
1435   0.662109         1749  0.200317

[2048 rows x 3 columns]
Layer 8 max df
            max  channel_idx       std
113   46.468750         2533  2.658203
0     12.937500         1415  0.718750
384    6.687500          310  0.217163
724    6.464844          310  0.231567
1392   6.406250          310  0.219971
...         ...          ...       ...
458    0.722656         1340  0.206421
883    0.719727         2789  0.213013
1435   0.715820         1218  0.209595
219    0.701660         2789  0.213989
1579   0.666992         2075  0.221191

[2048 rows x 3 columns]
Layer 9 max df
            max  channel_idx       std
113   46.468750         2533  2.648438
0     12.937500         1415  0.725098
1352   9.992188          310  0.333984
62     9.054688          310  0.258301
321    8.351562          310  0.248413
...         ...          ...       ...
989    0.750977         3165  0.214478
284    0.746094         1870  0.221924
1137   0.730957         2789  0.202515
803    0.720215          490  0.215088
1779   0.707031         3431  0.206299

[2048 rows x 3 columns]
Layer 10 max df
            max  channel_idx       std
113   46.468750         2533  2.642578
0     12.937500         1415  0.731934
62    10.539062          310  0.291748
1352  10.421875          310  0.325684
321    9.570312          310  0.257080
...         ...          ...       ...
219    0.833008         3568  0.254883
1779   0.827637          162  0.243042
1186   0.807129         2789  0.223755
286    0.794434         2926  0.239746
248    0.786133         1005  0.227051

[2048 rows x 3 columns]
Layer 11 max df
            max  channel_idx       std
113   46.468750         2533  2.638672
0     12.937500         1415  0.734375
62    10.656250          310  0.300781
1352  10.484375          310  0.317139
321    9.664062          310  0.255371
...         ...          ...       ...
876    0.926758          366  0.277588
803    0.926270          446  0.253662
1167   0.921875         2789  0.275635
981    0.916016         2235  0.243408
1533   0.895996         3854  0.257568

[2048 rows x 3 columns]
Layer 12 max df
            max  channel_idx       std
113   46.468750         2533  2.628906
0     12.937500         1415  0.737305
62    10.726562          310  0.294922
1352  10.546875          310  0.305420
321    9.726562          310  0.249878
...         ...          ...       ...
876    0.966797         3332  0.281494
1794   0.960938         4020  0.301514
295    0.960449         2350  0.282715
284    0.955078          298  0.268311
1174   0.946777         3672  0.291748

[2048 rows x 3 columns]
Layer 13 max df
            max  channel_idx       std
113   46.468750         2533  2.619141
0     12.937500         1415  0.743164
62    10.726562          310  0.299561
1352  10.554688          310  0.312256
321    9.734375          310  0.258057
...         ...          ...       ...
2043   0.997559         2293  0.261230
1533   0.985352         4027  0.293457
1018   0.974609         2403  0.281494
1224   0.973145         1591  0.292725
1186   0.954102         1177  0.276611

[2048 rows x 3 columns]
Layer 14 max df
            max  channel_idx       std
113   46.468750         2533  2.597656
0     12.937500         1415  0.749512
62    11.140625          310  0.307129
321   10.750000          310  0.278320
1352   9.937500          310  0.313232
...         ...          ...       ...
1017   1.095703         1243  0.302246
1443   1.078125         2770  0.311523
2047   1.078125          257  0.315918
1186   1.071289         2624  0.287109
1018   1.052734         1867  0.287842

[2048 rows x 3 columns]
Layer 15 max df
            max  channel_idx       std
113   46.468750         2533  2.587891
0     12.937500         1415  0.752441
62    11.171875          310  0.306641
321   10.828125          310  0.280273
1352   9.953125          310  0.318604
...         ...          ...       ...
2042   1.140625          424  0.332031
1229   1.138672         2732  0.309326
1087   1.114258         2699  0.326416
936    1.093750         1766  0.312988
1186   1.018555          824  0.296143

[2048 rows x 3 columns]
Layer 16 max df
            max  channel_idx       std
113   46.468750         2533  2.574219
0     12.937500         1415  0.757324
62    11.390625          310  0.312256
321   11.125000          310  0.292480
1392  10.296875          310  0.277588
...         ...          ...       ...
1230   1.237305         2789  0.284424
1231   1.211914         1261  0.341797
273    1.195312         1035  0.343750
284    1.179688          251  0.319336
248    1.141602         3372  0.349609

[2048 rows x 3 columns]
Layer 17 max df
            max  channel_idx       std
113   46.531250         2533  2.462891
0     12.937500         1415  0.651855
62    11.601562          310  0.319580
321   11.375000          310  0.296387
1392  10.507812          310  0.281494
...         ...          ...       ...
1326   1.406250         2789  0.347412
1049   1.401367          665  0.409424
45     1.394531         2053  0.400391
1164   1.388672          468  0.433594
1230   1.365234         2789  0.342529

[2048 rows x 3 columns]
Layer 18 max df
            max  channel_idx       std
113   46.531250         2533  2.445312
0     12.937500         1415  0.653809
321   12.859375          310  0.333496
62    12.601562          310  0.343750
1392  12.281250          310  0.331055
...         ...          ...       ...
862    1.570312         3745  0.396729
883    1.520508         2235  0.391602
1049   1.455078          970  0.441406
1221   1.396484          365  0.430908
1230   1.385742         3566  0.383057

[2048 rows x 3 columns]
Layer 19 max df
            max  channel_idx       std
113   46.531250         2533  2.429688
62    15.507812          310  0.401123
321   15.406250          310  0.381836
1392  15.156250          310  0.381592
1864  13.265625          310  0.365479
...         ...          ...       ...
1089   1.708008          462  0.433350
1321   1.673828         2193  0.460693
983    1.659180         2857  0.462158
1229   1.658203          146  0.478027
1156   1.654297         1488  0.475098

[2048 rows x 3 columns]
Layer 20 max df
            max  channel_idx       std
113   46.531250         2533  2.335938
321   15.945312          310  0.388916
62    15.921875          310  0.405029
1392  15.617188          310  0.388428
1864  13.664062          310  0.372314
...         ...          ...       ...
1186   1.877930          400  0.483398
1322   1.852539         3168  0.488770
1321   1.852539         1910  0.512207
233    1.822266         3350  0.520508
1230   1.706055          809  0.498291

[2048 rows x 3 columns]
Layer 21 max df
            max  channel_idx       std
113   46.531250         2533  2.322266
321   16.796875          310  0.408447
62    16.609375          310  0.425537
1392  16.468750          310  0.411621
1864  14.523438          310  0.398926
...         ...          ...       ...
847    2.072266         2766  0.518555
1073   1.987305         3888  0.536133
1982   1.977539         2918  0.569824
1154   1.959961         3207  0.525391
221    1.920898         1887  0.539062

[2048 rows x 3 columns]
Layer 22 max df
            max  channel_idx       std
113   46.531250         2533  2.300781
321   17.187500          310  0.411377
62    16.921875          310  0.426270
1392  16.890625          310  0.416992
1864  14.945312          310  0.406250
...         ...          ...       ...
1186   2.205078          144  0.626465
847    2.123047         2766  0.545410
221    2.068359         2921  0.564453
1154   2.062500          596  0.538574
1826   2.039062           77  0.571289

[2048 rows x 3 columns]
Layer 23 max df
            max  channel_idx       std
113   46.531250         2533  2.291016
321   17.906250          310  0.429199
1392  17.718750          310  0.439209
62    17.515625          310  0.442871
1864  15.906250          310  0.439697
...         ...          ...       ...
1961   2.345703          971  0.678223
847    2.289062         1096  0.620117
323    2.283203          257  0.537109
1826   2.197266           77  0.599609
221    2.033203         2921  0.585449

[2048 rows x 3 columns]
Layer 24 max df
            max  channel_idx       std
113   46.531250         2533  2.279297
321   19.984375          310  0.478271
1392  19.968750          310  0.490967
1864  18.562500          310  0.500488
62    18.187500          310  0.461182
...         ...          ...       ...
1073   2.371094         1096  0.608398
1826   2.365234           77  0.614258
1982   2.308594         2698  0.632324
221    2.298828         2467  0.701172
323    2.230469          257  0.568359

[2048 rows x 3 columns]
Layer 25 max df
            max  channel_idx       std
113   46.531250         2533  2.275391
321   20.265625          310  0.488525
1392  20.234375          310  0.499512
1864  18.828125          310  0.507324
62    18.421875          310  0.473877
...         ...          ...       ...
1826   2.496094         1780  0.642578
221    2.490234         2308  0.719727
323    2.419922         2447  0.587402
1073   2.326172         2194  0.634766
847    2.320312         3587  0.653809

[2048 rows x 3 columns]
Layer 26 max df
            max  channel_idx       std
113   46.531250         2533  2.275391
1392  20.484375          310  0.507812
321   20.468750          310  0.494873
1864  19.046875          310  0.515625
62    18.593750          310  0.484131
...         ...          ...       ...
221    2.523438         3871  0.748047
1866   2.402344         2685  0.687988
847    2.394531         3674  0.686035
1073   2.380859         1096  0.675781
323    2.347656         3840  0.601074

[2048 rows x 3 columns]
Layer 27 max df
            max  channel_idx       std
113   46.531250         2533  2.271484
1392  20.750000          310  0.515137
321   20.703125          310  0.502441
1864  19.312500          310  0.520996
62    18.718750          310  0.490967
...         ...          ...       ...
1866   2.638672         1744  0.707031
221    2.625000         3871  0.771973
990    2.595703         2953  0.772949
847    2.429688         1096  0.730469
323    2.369141         3840  0.617188

[2048 rows x 3 columns]
Layer 28 max df
            max  channel_idx       std
113   46.531250         2533  2.285156
1392  21.015625          310  0.522461
321   20.968750          310  0.509277
1864  19.562500          310  0.531738
62    19.015625          310  0.503906
...         ...          ...       ...
1828   2.988281         3827  0.804199
1154   2.925781         3207  0.726562
1866   2.845703         1744  0.748047
990    2.777344          471  0.825195
323    2.486328         3840  0.644043

[2048 rows x 3 columns]
Layer 29 max df
            max  channel_idx       std
113   46.531250         2533  2.332031
321   21.390625          310  0.538574
1392  21.343750          310  0.540039
1864  20.031250          310  0.569824
62    19.265625          310  0.520020
...         ...          ...       ...
990    3.558594         2676  0.871094
1733   3.501953         1079  0.994629
1154   3.419922           37  0.971680
1828   3.314453         3827  0.907715
323    2.687500         1390  0.708496

[2048 rows x 3 columns]
Layer 30 max df
            max  channel_idx       std
113   45.718750         2533  3.642578
1392  21.937500          310  0.563965
321   21.906250          310  0.566895
1864  20.593750          310  0.600586
62    19.734375          310  0.541016
...         ...          ...       ...
1319   4.292969         4047  1.323242
1851   4.269531         2354  1.078125
1446   4.222656         4031  1.275391
1733   4.195312         1450  1.200195
323    3.683594         2924  0.823242

[2048 rows x 3 columns]
Layer 31 max df
            max  channel_idx       std
1392  24.531250          310  0.622070
321   24.390625          310  0.624023
62    22.984375          310  0.583496
1864  21.765625          310  0.648926
724   20.703125          310  0.654785
...         ...          ...       ...
983    4.671875         1317  1.356445
1309   4.617188         1555  1.380859
1282   4.574219         1219  1.319336
1446   4.503906         3695  1.354492
0      3.933594         2533  0.346191

[2048 rows x 3 columns]
Layer 32 max df
            max  channel_idx       std
96    35.312500         3826  4.585938
609   28.046875         3826  3.511719
560   27.968750         3826  3.441406
544   25.171875         3444  3.765625
1380  24.109375         2002  3.359375
...         ...          ...       ...
62     4.144531          310  0.635254
321    3.820312          310  0.738281
1620   3.554688         2289  0.979980
1392   3.453125          310  0.680664
384    3.341797         4076  0.752441

[2048 rows x 3 columns]

In [12]:
print(layer_inps_std[3][:,2533].abs().sort(descending=True))
print(layer_inps_std[3][:,1415].abs().sort(descending=True))

IndexError: index 2533 is out of bounds for dimension 1 with size 1

In [13]:
for i in range(33):
    print(layer_inps[i].mean(dim=0).abs().sort(descending=True))

torch.return_types.sort(
values=tensor([    0.0543,     0.0524,     0.0477,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([3964, 1411, 4030,  ...,  177, 1447,  549]))
torch.return_types.sort(
values=tensor([    0.8999,     0.6569,     0.1518,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([1512, 2298, 2944,  ..., 3084, 1455, 3675]))
torch.return_types.sort(
values=tensor([    1.6148,     0.9605,     0.6345,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1415, 1512,  ..., 1411, 2467,  441]))
torch.return_types.sort(
values=tensor([    1.6658,     0.9670,     0.8359,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1415, 1512,  ...,  216, 2288,  983]))
torch.return_types.sort(
values=tensor([    1.6293,     1.3685,     0.9450,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1512, 1415,  ..., 1171,  453, 3779]))
torch.return_types.sort(
values=tensor([    1.7276,     1.3791,     1.0090,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1512, 1415,  ..., 2068, 1034,  975]))
torch.return_types.sort(
values=tensor([    1.7708,     1.2107,     1.0835,  ...,     0.0001,     0.0000,
            0.0000]),
indices=tensor([2533, 1512, 1415,  ..., 2614,  765,  797]))
torch.return_types.sort(
values=tensor([    1.8363,     1.2747,     1.2452,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1512, 1076,  ..., 1546,  260, 2618]))
torch.return_types.sort(
values=tensor([    1.9420,     1.4617,     1.3812,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1512, 1076,  ...,  647,  342, 3258]))
torch.return_types.sort(
values=tensor([    1.9507,     1.5607,     1.4732,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1076, 1512,  ..., 3932, 2686, 2038]))
torch.return_types.sort(
values=tensor([    1.9868,     1.6654,     1.6246,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1076, 1512,  ..., 3896, 3231, 3666]))
torch.return_types.sort(
values=tensor([    1.9287,     1.8015,     1.6145,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1076, 2350,  ..., 1045, 1859,  599]))
torch.return_types.sort(
values=tensor([    2.0361,     1.9652,     1.8198,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([2533, 1076, 2350,  ..., 1971, 1130, 3465]))
torch.return_types.sort(
values=tensor([    2.1047,     2.0899,     1.9689,  ...,     0.0002,     0.0001,
            0.0000]),
indices=tensor([2533, 1076, 2350,  ..., 3943,  904, 3250]))
torch.return_types.sort(
values=tensor([    2.5955,     2.3193,     2.2863,  ...,     0.0002,     0.0001,
            0.0000]),
indices=tensor([1512, 1076, 2533,  ..., 3506, 2941, 2996]))
torch.return_types.sort(
values=tensor([    2.6716,     2.4396,     2.1653,  ...,     0.0001,     0.0001,
            0.0000]),
indices=tensor([1512, 1076, 2533,  ...,   74, 1471, 1355]))
torch.return_types.sort(
values=tensor([    3.3261,     2.7842,     2.1339,  ...,     0.0002,     0.0001,
            0.0000]),
indices=tensor([1512, 1076, 2350,  ..., 1499, 1517, 2387]))
torch.return_types.sort(
values=tensor([    3.4929,     3.2305,     2.2357,  ...,     0.0002,     0.0001,
            0.0001]),
indices=tensor([1076, 1512, 2350,  ..., 2198,  135, 1187]))
torch.return_types.sort(
values=tensor([    3.6287,     3.6243,     2.2623,  ...,     0.0002,     0.0002,
            0.0001]),
indices=tensor([1076, 1512, 2789,  ..., 3158, 1427,  909]))
torch.return_types.sort(
values=tensor([    4.2454,     4.0146,     2.7922,  ...,     0.0000,     0.0000,
            0.0000]),
indices=tensor([1076, 1512, 2789,  ...,  746, 1021, 1263]))
torch.return_types.sort(
values=tensor([    4.9757,     4.7318,     3.2282,  ...,     0.0002,     0.0002,
            0.0001]),
indices=tensor([1512, 1076, 2789,  ..., 3798,  929, 2876]))
torch.return_types.sort(
values=tensor([    6.1709,     5.2526,     4.1266,  ...,     0.0005,     0.0003,
            0.0002]),
indices=tensor([1512, 1076, 2789,  ..., 2200, 2408,  530]))
torch.return_types.sort(
values=tensor([    7.4465,     5.6252,     4.7450,  ...,     0.0001,     0.0000,
            0.0000]),
indices=tensor([1512, 1076, 2789,  ..., 2389, 1078,  538]))
torch.return_types.sort(
values=tensor([   10.7420,     5.9792,     5.4605,  ...,     0.0001,     0.0001,
            0.0001]),
indices=tensor([1512, 1076, 2789,  ..., 4038, 4010, 2595]))
torch.return_types.sort(
values=tensor([   12.2599,     6.3113,     5.8048,  ...,     0.0005,     0.0004,
            0.0002]),
indices=tensor([1512, 1076, 2789,  ..., 3442, 3435, 2712]))
torch.return_types.sort(
values=tensor([   16.0437,     6.6297,     6.2426,  ...,     0.0002,     0.0001,
            0.0001]),
indices=tensor([1512, 1076, 2789,  ...,  570, 1557, 2707]))
torch.return_types.sort(
values=tensor([   15.9906,     6.7775,     6.3086,  ...,     0.0002,     0.0002,
            0.0002]),
indices=tensor([1512, 1076, 2789,  ..., 1823, 2463, 4091]))
torch.return_types.sort(
values=tensor([   22.3236,     6.7996,     6.1072,  ...,     0.0002,     0.0002,
            0.0002]),
indices=tensor([1512, 1076, 2789,  ...,  581,  687, 1539]))
torch.return_types.sort(
values=tensor([   23.5679,     6.9323,     5.8667,  ...,     0.0005,     0.0003,
            0.0001]),
indices=tensor([1512, 1076, 2789,  ..., 3887, 2700, 3406]))
torch.return_types.sort(
values=tensor([   28.4232,     7.2841,     6.0164,  ...,     0.0007,     0.0007,
            0.0006]),
indices=tensor([1512, 1076, 2883,  ...,  579, 2561,  821]))
torch.return_types.sort(
values=tensor([   36.5362,     7.6740,     7.3133,  ...,     0.0005,     0.0004,
            0.0000]),
indices=tensor([1512, 2883, 1076,  ...,  483, 1362,  133]))
torch.return_types.sort(
values=tensor([   36.4921,     7.3877,     5.9252,  ...,     0.0008,     0.0006,
            0.0005]),
indices=tensor([1512, 2883, 2617,  ..., 2705, 1854, 4008]))

IndexError: index 32 is out of bounds for dimension 0 with size 32